:root {
    --accent-color: rgba(162, 151, 79, 0.736);
    --base-color: rgba(249, 246, 242, 0.687);
    --text-color: #5b462af6;
    --input-color: #F3F0FF;
    --error-color: red;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Impact, Sans-Serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    min-height: 100vh;
    background-image: url(../imgs/dried-leaf-patterned-beige.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content:right;
}

.pacote {
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px; 
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    text-transform:uppercase;
    margin-top: 60px;
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

a {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    width: 100%;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top:10px;
    border: none;
    border-radius:1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
form button:hover{
    background-color:var(--text-color);
}
form button:focus{
    outline:none;
    background-color:var(--text-color);
}
@media(max-width: 1100px){
    .pacote{
        width: min(600px, 100%);
        border-radius: 0;
             }
}
form div.incorret label{
    background-color:var(--error-color);
}
form div.incorret input{
    border-color:var(--error-color);
}
#error-message{
    color:var(--error-color);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}